/***************
Home Page // Header Styles
****************/

/*Color scheme
https://coolors.co/app/068d9d-001011-6d9dc5-80ded9-aeecef + #FFFFF2(baige)
*/

.right-side-nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero_banner {
    background: url("images/calafia.jpg");
    color: white;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /*99F7AB*/
}

.hero_banner a {
    color: white;
}

@media(min-width: 768px) {
    .navbar-header {
        float: right;
    }
}


/****************
Home Page // Locations block
******************/

.location-tabs {
    background: #001011;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

.location-tabs ul li {
    background: url('images/sandspit.jpg');

}

.location-tabs h3 {
    margin-top: 0px;
    color: white;
}

.location-tabs a {
    color: white;
}

/*******************
footer
********************/

footer {
    background: #80DED9;
    color: #FFFFF2;
}

/***********************
Data Pages/Header/Navigation
************************/
    .header-page {
        background: #80DED9;
        padding-bottom: 40px;
    }

    .header-page button.navbar-toggle.collapsed.pull-left, .header-page h2 {
        color: #FFFFF2;
    }

    .header-page .btn-default {
        background: #FFFFF2;
        color: #80DED9;
        border-color: #80DED9;
    }

    .default-location .navbar-nav a {
        color: #FFFFF2;
    }

    .default-location .navbar-toggle {
        padding-left: 0px;
    }

    .default-location .navbar-nav li:first-child a {
        padding-left: 0px;
    }

    .default-location .navbar-collapse {
        padding-left: 0px;
    }


/**************************
Data Pages/buoy-block
************************/

    .buoy-block h3 {
        margin-top: 0px;
        padding-left: 0px;
        color: #6D9DC5;
    }

    .buoy-block {
        padding: 40px 0px;
    }


    .buoy-block .indiv-buoy {
        background: #6D9DC5;
        color: white;
        border-radius: 5px;
        margin-top: 20px;
    }

    .buoy-block .credit, .buoy-block .credit a {
        color: lightblue;
    }

/**************************
Data Pages/Wind Block
************************/

    .wind-data-block {
        background: #001011;
        padding: 40px 0px;
    }

    .wind-data-block h3 {
        color: white;
    }
    
    .wind-data-block .credit, .wind-data-block .credit a {
        color: grey;
    }

    .credit {
        clear: both;
    }

    .wind-data-block .indiv-wind {
        color: #001011;
        background: white;
        border-radius: 5px;
        margin-top: 20px;
    }

    .wind-data-block .container-fluid .first-fourth {
        clear: both;
    }

/***************************
Data Pages/ Buoy Predictions
***************************/

    .buoy-predictions {
        background: #F6F6F6;
        padding: 40px 0px;
    }

    .buoy-predictions h3 {
        color: #001011;
        max-width: 700px;
        margin: auto;
    }

    .buoy-predictions p {
        color: #6D9DC5;
    }

    .buoy-predictions .container-fluid {
        max-width: 100%;
        overflow: scroll;
        padding-top: 20px;
    }

    @media (min-width: 768px) {
        .buoy-predictions .container-fluid img {
            max-width: 100%;
            margin: auto;
        }

        .buoy-predictions .text-container p {
            display: none;
        }
    }

/***************************
Data pages/ Tidal Information
***************************/

    .tidal-predictions {
        padding: 40px 0px;
        color: #6D9DC5;
    }

    .tidal-predictions .container-fluid {
        overflow: scroll;
        max-width: 100%;
    }

    .tidal-predictions .container-fluid canvas {
        background: white;
        max-width: 100%;
        padding: 20px 0px;
    }


/***************************
Data pages/ Nowcast info
***************************/

    .now-cast {
        padding-top: 40px;
        padding-bottom: 40px;
        background: #001011;
        color: white;
    }

    .now-cast img {
        max-width: 100%;
        padding: 20px 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: white;
    }

    .now-cast h3 {
        max-width: 700px;
        margin: auto;
    }

    @media (min-width: 768px) {
        .now-cast img {
            max-width: 700px;
        }
        .now-cast h3 {
            max-width: 700px;
            margin: auto;
        }
    }