/***************
Home Page // Header Styles
****************/

/*Color scheme
https://coolors.co/app/d6f9dd-99f7ab-abdf75-60695c-c5d6d8
*/

.right-side-nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero_banner {
    background: url("images/calafia.jpg");
    color: white;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /*99F7AB*/
}

.hero_banner a {
    color: white;
}

@media(min-width: 768px) {
    .navbar-header {
        float: right;
    }
}

/***************
Home Page // Create account block
****************/

.create-account-block {
    background: #D6F9DD;
}

/****************
Home Page // Locations block
******************/

.location-tabs {
    background: #60695C;
    padding-top: 40px;
    padding-bottom: 40px;
}

.location-tabs h3 {
    margin-top: 0px;
    color: white;
}

.col-xs-10 > ul > li {
    background: #5bc0de;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}
.location-sub-menu {
    background: #C5D6D8;
    padding: 6px 12px;
    display: none;
}

/*******************
footer
********************/

footer {
    background: #80DED9;
    color: #FFFFF2;
}

/***********************
Data Pages/Header/Navigation
************************/
    .header-page {
        background: #80DED9;
        padding-bottom: 40px;
    }

    .header-page button.navbar-toggle.collapsed.pull-left, .header-page h2 {
        color: #FFFFF2;
    }

    .header-page .btn-default {
        background: #FFFFF2;
        color: #80DED9;
        border-color: #80DED9;
    }

    .default-location .navbar-nav a {
        color: #FFFFF2;
    }

    .default-location .navbar-toggle {
        padding-left: 0px;
    }

    .default-location .navbar-nav li:first-child a {
        padding-left: 0px;
    }

    .default-location .navbar-collapse {
        padding-left: 0px;
    }


/**************************
Data Pages/buoy-block
************************/

    .buoy-block h3 {
        margin-top: 0px;
        padding-left: 0px;
        color: #6D9DC5;
    }

    .buoy-block {
        padding: 40px 0px;
    }


    .buoy-block .indiv-buoy {
        background: #6D9DC5;
        color: white;
        border-radius: 5px;
        margin-top: 20px;
    }

    .buoy-block .credit, .buoy-block .credit a {
        color: lightblue;
    }

/**************************
Data Pages/Wind Block
************************/

    .wind-data-block {
        background: #001011;
        padding: 40px 0px;
    }

    .wind-data-block h3 {
        color: white;
    }
    
    .wind-data-block .credit, .wind-data-block .credit a {
        color: grey;
    }

    .credit {
        clear: both;
    }

    .wind-data-block .indiv-wind {
        color: #001011;
        background: white;
        border-radius: 5px;
        margin-top: 20px;
    }

/***************************
Data Pages/ Buoy Predictions
***************************/

    .buoy-predictions {
        background: #F6F6F6;
        padding: 40px 0px;
    }

    .buoy-predictions h3 {
        color: #001011;
    }

    .buoy-predictions p {
        color: #6D9DC5;
    }

    .buoy-predictions .container-fluid {
        max-width: 100%;
        overflow: scroll;
        padding-top: 20px;
    }

    @media (min-width: 768px) {
       .buoy-predictions .container-fluid img {
           max-width: 100%;
           margin: auto;
       }
    }