/***************
Home Page // Header Styles
****************/

.right-side-nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero_banner {
    background: url("images/calafia.jpg");
    color: white;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /*99F7AB*/
}

.hero_banner a {
    color: white;
}

@media(min-width: 768px) {
    .navbar-header {
        float: right;
    }
}

/***************
Home Page // Create account block
****************/

.create-account-block {
    background: #D6F9DD;
}

/****************
Home Page // Locations block
******************/

.location-tabs {
    background: #60695C;
    padding-top: 40px;
    padding-bottom: 40px;
}

.location-tabs h3 {
    margin-top: 0px;
    color: white;
}

.col-xs-10 > ul > li {
    background: #5bc0de;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}
.location-sub-menu {
    background: #C5D6D8;
    padding: 6px 12px;
}
